<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Google Login</title>

        <link href="boogle.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

    </head>

    <body>

    <div class="logo-container">
        <div class="logo">
            <img src="google-logo.png" height="100px" width="100px">
        </div>

        <div class="tagline">
            <h1>One Account. All of Google.</h1>
            <h3>Sign in with your Google Account</h3>
        </div>
    </div>



    <div class="login-container">
        <img class="anon" src="anonymous.png" height="100px" width="100px">
        <input class="email" type="text" placeholder="Email">
        <input class="password" type="text" placeholder="Password">
        <input class="submit" type="button" value="Sign In">
    </div>

    <a class="account-link" href="https://accounts.google.com/signup/v2/webcreateaccount?hl=en-GB&flowName=GlifWebSignIn&flowEntry=SignUp">Create an account</a>

    </body>

</html>
