<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Just starting out">
    <meta name="author" content="Grant Donoghue">
    <link rel="stylesheet" href="fakebook.css">
    <title>Grant Donoghue | Fakebook</title>
</head>

<body>

    <h1 class="logo">Fakebook</h1>

    <img class="pic" alt="My profile picture" src="profile.jpg" width="200" height="200">

    <h2>Grant Donoghue</h2>
    <h3>About Me</h3>

    <p class="subheader">Hometown:</p>
    <p class="inline">Sunderland, United Kingdom</p>
    <br>
    <br>
    <p class="subheader">Living in:</p>
    <p class="inline">Vienna, Austria</p>
    <br>
    <br>
    <p class="subheader">Age:</p>
    <p class="inline">Getting too old</p>
    <br>
    <br>
    <p class="subheader">Hobbies:</p>

        <ul>
            <li>Video Games</li>
            <li>Cycling</li>
            <li>Cinema</li>
            <li>Programming (maybe)</li>
        </ul>

    <p class="subheader"><strong>Favourite Websites:</strong></p>

        <ul>
            <li><a target="_blank" href="https://www.resetera.com">ResetERA</a></li>
            <li><a target="_blank" href="https://www.theguardian.com">The Guardian</a></li>
            <li><a target="_blank" href="https://www.github.com/Balaruth">My GitHub!</a></li>
        </ul>


</body>

</html>